*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 240px;
    border: 1px solid red;
}
.head{
    width: 1200px;
    height: 100px;
    margin-bottom: 50px;
    border: 1px solid red;
}
.cgvlogo>img{
    width: 135px;
    height: 60px;
}